.mainContainer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: var(--border-radius-md);
}
.headerText {
  font-size: var(--font-size-h1);
  color: #fff;
}
.subheaderText {
  font-size: var(--font-size-h6);
  color: #fff;
}
