.blogCard {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 650px;
    height: 300px;
    border-radius: 5px;
    background-color: var(--background-main-ui-elem-color);
}
.readFullBtn {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    position: relative;
    max-width: 120px;
    max-height: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-body-1);
}
.blogTitle {
    width: 100%;
    display: inline-block;
    position: relative;
    max-width: 630px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-semi-bold);
    color: var(--main-body-color);
}
.blogShortDescription {
    /*displays only 4 lines of text*/
    display: -webkit-box;
    position: relative;
    max-width: 630px;
    max-height: 100px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-reg);
    color: var(--main-body-color);
}
.blogInfo {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 0 0 10px;
    justify-content: space-between;
    gap: 5px;
}
.blogCoverImage {
    display: flex;
    max-width: 650px;
    max-height: 100px;
    border-radius: 5px 5px 0 0;
}
