.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 0.2rem 1rem;
  gap: 1rem;
  width: 100%;
  background-color: var(--background-container-color);
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.sectionContainer {
  min-width: 300px;
  border-radius: var(--border-radius-sm);
  background-color: white;
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
}
.sectionLabel {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-semi-bold);
}
.navElements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rightsReserved {
  display: flex;
  justify-content: center;
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-body-2);
}

@media (max-width: 767px) {
  .sections{
    flex-direction: column;
  }
  .rightsReserved {
    font-size: var(--font-size-body-3);
  }
}
