.navElement {
  min-width: 100px;
  width: fit-content;
  background-color: #fff;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-h5);
  border-radius: var(--border-radius-sm);
  font-weight: var(--font-weight-reg);
}
.navElement:hover {
  color: var(--primary-color);
  transition: color 200ms linear;
}
.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.logo {
  display: flex;
  position: relative;
  background-color: #fff;
  align-items: center;
  height: fit-content;
  font-weight: var(--font-weight-med);
  font-size: var(--font-size-h5);
  padding: 5px;
  border-radius: var(--border-radius-sm);
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: var(--border-radius-md);
  align-items: center;
  background-color: #d6cece;
  min-height: 70px;
}
