.heroSectionContainer {
  width: 100%;
  height: fit-content;
  padding: 16px 50px;
  background: linear-gradient(
    7.36deg,
    rgba(157, 37, 255, 0.9) 23.92%,
    rgba(0, 230, 211, 0.8)
  );
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: start;
  justify-content: center;
  border-radius: var(--border-radius-md);
}
.leftPanel {
  width: fit-content;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.profileImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: var(--border-radius-md);
}
.nameHeader {
  width: 100%;
  height: auto;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  color: #fff;
}
.shortBio {
  width: 100%;
  height: auto;
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-h5);
  color: #fff;
}
@media (max-width: 767px) {
  .heroSectionContainer {
    flex-direction: column;
    height: fit-content;
    padding: 8px;
    gap: 5px;
    width: 100%;
  }
}

.featuredBlogsSection {
  background-color: #d6cece;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.featuredBlogsGrid {
  display: flex;
  flex-direction: row;
  gap: 75px;
}
.featuredBlogsLabel {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h4);
}

.featuredProjectsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  hight: fit-content;
  background-color: #d6cece;
  padding: 16px;
}
.featuredProjectsTitle {
  color: black;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-med);
}
.featuredProjectsGrid {
  display: flex;
  background-color: red;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.skillsTechnologiesSection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #d6cece;
  gap: 15px;
}
.skillsTechnologiesSectionLabel {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h4);
}
.skillsTechnologiesLayout {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 1200px;
  gap: 50px;
}
