.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.heroSectionContainer {
  width: 100%;
  height: fit-content;
  padding: 16px 50px;
  background: linear-gradient(
    7.36deg,
    rgba(157, 37, 255, 0.9) 23.92%,
    rgba(0, 230, 211, 0.8)
  );
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: start;
  justify-content: center;
  border-radius: var(--border-radius-md);
}
.leftPanel {
  width: fit-content;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.profileImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: var(--border-radius-md);
}
.nameHeader {
  width: 100%;
  height: auto;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  color: #fff;
}
.shortBio {
  width: 100%;
  height: auto;
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-h5);
  color: #fff;
}

.featuredBlogsContainer {
  background-color: var(--background-container-color);
  display: flex;
  width: 100%;
  border-radius: var(--border-radius-lg);
  height: fit-content;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
}
.featuredBlogsTitle {
  color: black;
  width: 100%;
  height: fit-content;
  font-weight: var(--font-weight-med);
  font-size: var(--font-size-h4);
}
.featuredBlogsGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px;
  justify-content: space-between;
  gap: 30px;
}

.featuredProjectsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  hight: fit-content;
  background-color: var(--background-container-color);
  padding: 16px;
  border-radius: var(--border-radius-lg);
}
.featuredProjectsTitle {
  color: black;
  width: 100%;
  height: fit-content;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-med);
}
.featuredProjectsGrid {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 450px;
  justify-content: space-between;
}

.skillsTechnologiesContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--background-container-color);
  gap: 30px;
  border-radius: var(--border-radius-lg);
}
.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.skillsSectionTitle {
  font-weight: var(--font-weight-med);
  font-size: var(--font-size-h4);
}
.skillsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: fit-content;
  gap: 1.5rem;
}

.technologiesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.technologiesSectionTitle {
  font-weight: var(--font-weight-med);
  font-size: var(--font-size-h4);
}
.technologiesGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: fit-content;
  gap: 1.5rem;
}

@media (max-width: 767px) {
  .heroSectionContainer {
    flex-direction: column;
    height: fit-content;
    padding: 8px;
    gap: 5px;
    width: 100%;
  }

  .featuredProjectsContainer {
    padding: 8px;
    height: 100%;
    max-height: 600px;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }
  .featuredProjectsGrid {
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .featuredBlogsContainer {
    padding: 8px;
    height: 100%;
    max-height: 600px;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }
  .featuredBlogsGrid {
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .skillsTechnologiesContainer {
    padding: 0.5rem;
  }

  .skillsGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .technologiesGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
