@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffcccc;
  --font-family--base: 'Inter', sans-serif;
  --custom--spacing--4: 4px;
  --custom--spacing--8: var(--custom--spacing--4) * 2; 
}

/*No support for dark scheme for now
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffcccc;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family--base);
}
