@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #000000;
  --background-main-ui-elem-color: #d6cece; 
  --font-family--base: var(--font-tomorrow);
  --transition-duration-base: 100;
  --font-size-h1: 36px;
  --font-size-h2: 32px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-body-1: 18px;
  --font-size-body-2: 16px;
  --font-size-body-3: 14px;
  --font-weight-light: 300;
  --font-weight-reg: 400;
  --font-weight-med: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --custom--spacing--4: 4px;
  --custom--spacing--8: calc(var(--custom--spacing--4) * 2);
  --skill-card-border-rd: 5px;
}

/*No support for dark scheme for now
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffcccc;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-tomorrow);
}
.rootContainer {
  padding: 20px;
  display: flex;
  min-height: 100vh; 
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.mainContent {
  padding-bottom: 40px;
  padding-top: 40px;
}
